* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.strong-text {
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: white;
}

.nav-links,
li,
a {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  color: rgba(161, 110, 52, 1);
  text-decoration: none;
}

.nav-links li a:hover {
  color: rgba(3, 97, 71, 1);
}

.header-text > a,
.header-text2 > a {
  color: rgba(3, 97, 71, 1);
  text-align: center;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 15px;
  }
}

.logo {
  width: 3%;
}

@media only screen and (max-width: 1400px) {
  .logo {
    width: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .logo {
    width: 80%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;
  padding: 30px 10px;
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 6px rgba(7, 7, 7, 0.355);
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  header {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    text-align: center;
  }
}

.menu-icon {
  width: 25px;
  height: 20px;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .menu-icon {
    width: 20px !important;
    height: 17px !important;
  }
}

button {
  padding: 9px 25px;
  background-color: rgba(14, 183, 205, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: white;
  color: rgba(14, 183, 205, 1);
}

.header-text {
  display: none;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  z-index: 11;
}

.menu-icon span {
  display: block;
  background-color: rgba(3, 97, 71, 1);
  height: 3px;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s;
}

li .contact-text {
  display: none;
}

@media only screen and (max-width: 900px) {
  .header-text2 {
    display: none;
  }

  .header-text {
    display: contents;
  }

  .instagram,
  .facebook {
    width: 20px !important;
  }

  .contact-button {
    display: none;
  }

  .top-page-logo {
    display: none;
  }

  .menu-icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .nav-text {
    padding: 5px;
  }

  .nav-links {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 85px;
    right: -100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(7, 7, 7, 0.355);
    width: 100%;
    height: 20%;
    transition: right 0.3s;
    z-index: 10;
  }

  li .contact-text {
    display: block;
  }

  .menu-toggle:checked ~ nav .nav-links {
    right: 0;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

.header-spacing {
  padding-top: 200px;
}

.footer-spacing {
  padding-top: 400px;
}

.body-grid {
  display: grid;
  grid-template-rows: 1fr;
}

.body-header-text-container {
  margin-left: 8%;
  margin-bottom: 8%;
  font-size: 85%;
}

.green-box-1 {
  width: 70%;
  height: 370px;
  background-color: rgba(33, 116, 93, 1);
  border-radius: 0 30px 30px 0;
  align-content: center;
  justify-items: center;
}

.green-box-1-text-container {
  color: white;
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
}

.green-box-1-text {
  font-weight: 300;
}

.box-grid-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.yellow-box-1 {
  width: 40%;
  height: 850px;
  margin-top: 50px;
  background-color: rgba(230, 214, 181, 1);
  border-radius: 0 30px 30px 0;
  align-content: center;
  justify-items: center;
}

.yellow-box-1-text-container {
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
  height: 80%;
}

.yellow-box-1-text {
  font-weight: 300;
}

.green-box-3 {
  position: relative;
  width: 50%;
  height: 1550px;
  margin-top: 50px;
  background-color: rgba(33, 116, 93, 1);
  border-radius: 30px 0 0 30px;
  align-content: center;
  justify-items: center;
}

.green-box-3-text-container {
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
  height: 90%;
}

.green-box-3-text {
  font-weight: 300;
  color: white;
}

.picture-container {
  position: absolute;
  width: 100%;
  right: 70px;
}

.picture {
  width: 80%;
  border-radius: 30px;
}

.green-box-2 {
  display: none;
}

.picture-2-container {
  display: none;
}

.white-box-1-text {
  display: none;
}

.white-box-2-text {
  display: none;
}

@media only screen and (min-width: 450px) {
  .yellow-box-1 {
    height: 550px;
  }

  .green-box-3 {
    height: 1280px;
  }
}

@media only screen and (min-width: 500px) {
  .green-box-3 {
    height: 1180px;
  }
}

@media (min-width: 840px) and (max-width: 1340px) {
  .footer-spacing {
    padding-top: 900px;
  }
}

@media (min-width: 650px) and (max-width: 840px) {
  .footer-spacing {
    padding-top: 1150px;
  }
}

@media only screen and (min-width: 650px) {
  .box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates three equal-width columns */
    grid-template-rows: repeat(2, 500px);
    height: 1000px;
    gap: 20px;
  }

  .white-box-1-text {
    display: contents;
  }

  .white-box-2-text {
    display: contents;
  }

  .green-box-1 {
    display: none;
  }

  .box-grid-container {
    display: none;
  }

  .header-spacing {
    padding-top: 200px;
  }

  .body-header-text-container {
    margin-left: 8%;
    margin-bottom: 8%;
    font-size: 85%;
  }

  .white-box-1 {
    display: block;
    width: 95%;
    justify-self: end;
    align-content: center;
  }

  .white-box-1-text-container {
    width: 80%;
    margin-left: 5%;
  }

  .white-box-1-text {
    font-weight: 300;
    font-size: 100%;
  }

  .green-box-2 {
    display: block;
    width: 95%;
    align-content: center;
    border-radius: 30px;
    background-color: rgba(33, 116, 93, 1);
  }

  .green-box-2-text-container {
    width: 80%;
    color: white;
    margin-left: 5%;
  }

  .green-box-2-text {
    font-weight: 300;
    font-size: 100%;
  }

  .white-box-2 {
    display: block;
    width: 95%;
    align-content: center;
  }

  .white-box-2-text-container {
    width: 80%;
    margin-left: 5%;
  }

  .white-box-2-text {
    font-weight: 300;
    font-size: 100%;
  }

  .yellow-box-1 {
    display: none;
  }

  .yellow-box-2 {
    display: none;
  }

  .picture-2-container {
    display: block;
  }

  .picture-2 {
    width: 95%;
    object-fit: cover;
    width: 95%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    justify-self: end;
    display: block;
  }
}

@media (min-width: 650px) and (max-width: 1140px) {
  .green-box-2-text {
    font-weight: 300;
    font-size: 85%;
  }

  .yellow-box-4-text {
    font-weight: 300;
    font-size: 85%;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-top: auto;
}

.socials-footer {
  margin-right: 1%;
}

.instagram,
.facebook {
  width: 30px;
  height: auto;
  padding: 0px;
  cursor: pointer;
}

footer .logo {
  width: 35px;
}
