@media only screen and (max-width: 700px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 20px;
  }

    .menu-icon {
    width: 20px !important;
    height: 17px !important;
  }
}

@media only screen and (max-width: 500px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .header-text > a,
  .header-text2 > a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1400px) {
  .logo {
    width: 5%;
  }
}

@media only screen and (max-width: 900px) {
  header {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    text-align: center;
  }

    .logo {
    width: 80%;
  }
}

.header-spacing {
  padding-top: 200px;
}

.footer-spacing {
  padding-top: 400px;
}

.body-grid {
  display: grid;
  grid-template-rows: 1fr;
}

.body-header-text-container {
  margin-left: 8%;
  margin-bottom: 8%;
  font-size: 85%;
}

.green-box-1 {
  width: 70%;
  height: 370px;
  background-color: rgba(33, 116, 93, 1);
  border-radius: 0 30px 30px 0;
  align-content: center;
  justify-items: center;
}

.green-box-1-text-container {
  color: white;
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
}

.green-box-1-text {
  font-weight: 300;
}

.yellow-box-grid-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.yellow-box-1 {
  width: 40%;
  height: 300px;
  margin-top: 50px;
  background-color: rgba(230, 214, 181, 1);
  border-radius: 0 30px 30px 0;
  align-content: center;
  justify-items: center;
}

.yellow-box-1-text-container {
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
  height: 80%;
}

.yellow-box-1-text {
  font-weight: 300;
}

.yellow-box-2 {
  position: relative;
  width: 50%;
  height: 600px;
  margin-top: 50px;
  background-color: rgba(230, 214, 181, 1);
  border-radius: 30px 0 0 30px;
  align-content: center;
  justify-items: center;
}

.yellow-box-2-text-container {
  font-size: 50%;
  width: 80%;
  margin-left: 5%;
  height: 90%;
}

.yellow-box-2-text {
  font-weight: 300;
}

.picture-container {
  position: absolute;
  width: 100%;
  right: 70px;
}

.picture {
  width: 80%;
  border-radius: 30px;
}

.yellow-box-3 {
  display: none;
}

.yellow-box-4 {
  display: none;
}

.green-box-2 {
  display: none;
}

.picture-2-container {
  display: none;
}

@media only screen and (min-width: 650px) {
  .box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates three equal-width columns */
    grid-template-rows: repeat(2, 500px);
    height: 1000px;
    gap: 20px;
  }

  .green-box-1 {
    display: none;
  }

  .yellow-box-grid-container {
    display: none;
  }

  .header-spacing {
    padding-top: 200px;
  }

  .footer-spacing {
    padding-top: 400px;
  }

  .body-header-text-container {
    margin-left: 8%;
    margin-bottom: 8%;
    font-size: 85%;
  }

  .green-box-2 {
    display: block;
    width: 95%;
    justify-self: end;
    background-color: rgba(33, 116, 93, 1);
    border-radius: 30px;
    align-content: center;
  }

  .green-box-2-text-container {
    color: white;
    width: 80%;
    margin-left: 5%;
  }

  .green-box-2-text {
    font-weight: 300;
    font-size: 100%;
  }

  .yellow-box-3 {
    display: block;
    width: 95%;
    align-content: center;
  }

  .yellow-box-3-text-container {
    width: 80%;
    margin-left: 5%;
  }

  .yellow-box-3-text {
    font-weight: 300;
    font-size: 100%;
  }

  .yellow-box-4 {
    display: block;
    width: 95%;
    justify-self: end;
    align-content: center;
  }

  .yellow-box-4-text-container {
    width: 80%;
    margin-left: 5%;
  }

  .yellow-box-4-text {
    font-weight: 300;
    font-size: 100%;
  }

  .yellow-box-1 {
    display: none;
  }

  .yellow-box-2 {
    display: none;
  }

  .picture-2-container {
    display: block;
  }

  .picture-2 {
    width: 95%;
    object-fit: cover;
    width: 95%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
  }
}

@media (min-width: 650px) and (max-width: 1140px) {
  .green-box-2-text {
    font-weight: 300;
    font-size: 85%;
  }

  .yellow-box-3-text {
    font-weight: 300;
    font-size: 85%;
  }

  .yellow-box-4-text {
    font-weight: 300;
    font-size: 85%;
  }
}
